﻿@model AdminLTE.ViewModels.ReportViewModel
@using DevExpress.AspNetCore
@{
    Layout = null;
}

    <head>

        <link href="~/css/devextreme/bootstrap.css" rel="stylesheet" />
        <link href="~/css/devextreme/dx.common.css" rel="stylesheet" />
        <link href="~/css/devextreme/dx.light.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/thirdparty.bundle.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/viewer.part.bundle.css" />

        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

        @if (ViewBag.FirstPrintReportInCurrentPage == "1")
        {
            <script src="~/js/thirdparty.bundle.js"></script>
            <script src="~/js/viewer.part.bundle.js"></script>
            <script src="~/js/devextreme/aspnet/dx.aspnet.mvc.js"></script>
        }

    </head>

<body>

    @(Html.DevExtreme().Popup()
.ID("popupRes")
.Title("Печать")
.Visible(true).MaxHeight("100%").MaxWidth("100%")
.ShowCloseButton(true)
.CloseOnOutsideClick(true)
.DragEnabled(false)
.FullScreen(true)
.DragEnabled(false)
.ContentTemplate(new TemplateName("template1"))
        )
    
    @using (Html.DevExtreme().NamedTemplate("template1"))
    {
    <div>
        @(Html.DevExpress().WebDocumentViewer("DocumentViewer")
            .Name("reportViewer").Height("400px").MobileMode(false)
            .Bind(Model.Report))
    </div>
    }

</body>
