﻿@model IEnumerable<AdminLTE.ViewModels.BookViewModel>
@{ Layout = null; }


<head>
    <script type="text/javascript">
        $(function () {
            $.ajaxSetup({ cache: false });
            $(".bookItemEdit").click(function (e) {
                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
            });
        })
    </script>
</head>

<div class="row">
    <div class="col-sm-12">
        <table class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info" id="authors-grid">
            <thead>
                <tr role="row">
                    <th width="20%" tabindex="0" aria-controls="authors-grid" rowspan="1" style="text-align: center;">
                        Название
                    </th>
                    <th width="20%" tabindex="0" aria-controls="authors-grid" rowspan="1" style="text-align: center;">
                        Стиллаж
                    </th>
                    <th width="20%" tabindex="0" aria-controls="authors-grid" rowspan="1" style="text-align: center;">
                        Автор
                    </th>
                    <th width="20%" tabindex="0" aria-controls="authors-grid" rowspan="1" style="text-align: center;">
                        Группа
                    </th>
                    <th tabindex="0" aria-controls="authors-grid" rowspan="1" style="text-align: center;">
                        Редактировать
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    var books = Model.ToList();
                    foreach (var book in books)
                    {
                        <tr role="row" class="odd">
                            <td align="center">@book.Name</td>
                            <td align="center">@book.BookshelfName</td>
                            <td align="center">@book.AuthorName</td>
                            <td align="center">@book.GroupName</td>
                            <td align="center">
                                @Html.ActionLink("Редактировать", "Edit", "Book", new { id = book.Id }, new { @class = "bookItemEdit" })
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>
