﻿@model AdminLTE.ViewModels.BookViewModel
@using AdminLTE.ViewModels
@{
    Layout = null;
}


<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>


<body>

    <div class="modal-content" id="modalContentEdit" role="dialog">
        <div class="modal-header">

            @if (Model != null && Model.Id == 0)
            {
                <h6>Добавление новой книги</h6>
            }

            @if (Model != null && Model.Id > 0)
            {
                <h6>Редактирование книги</h6>
            }

            <button class="close" data-dismiss="modal" area-hidden="true">X</button>
        </div>
        <div class="modal-body">
            <dl class="dl-horizontal">

                @if (Model != null)
                {
                    <div class="form-group">
                        <input class="form-control" placeholder="HasChanged" id="HasChanged"
                               type="hidden" />
                    </div>

                    <div class="form-group">
                        <input class="form-control" placeholder="Id" asp-for="Id" value="@Model.Id"
                               hidden="hidden" id="txtBookId" />
                        <span asp-validation-for="Id"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Name" class="font-for-label"></label><br />
                        <input class="form-control" placeholder="Название" asp-for="Name"
                               autocomplete="off" id="txtBootTypeName"
                               value="@Model.Name" onchange="UpperFirstChar(this); return false;" />
                        <span asp-validation-for="Name"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="ISBN" class="font-for-label"></label><br />
                        <input class="form-control" placeholder="ISBN" asp-for="ISBN"
                               autocomplete="off" id="txtIsbn"
                               value="@Model.ISBN" onchange="UpperFirstChar(this); return false;" />
                        <span asp-validation-for="ISBN"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Seria" class="font-for-label"></label><br />
                        <input class="form-control" placeholder="Seria" asp-for="Seria"
                               autocomplete="off" id="txtSeria"
                               value="@Model.Seria" onchange="UpperFirstChar(this); return false;" />
                        <span asp-validation-for="Seria"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Year" class="font-for-label"></label><br />
                        <input class="form-control" placeholder="Year" asp-for="Year"
                               autocomplete="off" id="txtYear"
                               value="@Model.Year" onchange="UpperFirstChar(this); return false;" />
                        <span asp-validation-for="Year"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Publisher" class="font-for-label"></label><br />
                        <input class="form-control" placeholder="Издатель" asp-for="Publisher"
                               autocomplete="off" id="txtPublisher"
                               value="@Model.Publisher" onchange="UpperFirstChar(this); return false;" />
                        <span asp-validation-for="Publisher"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="BookshelfId" class="font-for-label">Выберите стиллаж:</label><br />
                        <select style="width: 30%;" asp-for="BookshelfId" id="selectedBookshel">
                            @if (ViewBag != null && ViewBag.Bookshelfs != null)
                            {
                                <option value=""></option>
                                var itemsArr = ViewBag.Bookshelfs as List<BookshelfViewModel>;
                                foreach (var grItem in itemsArr)
                                {
                                    <option value="@grItem.Id">@grItem.Name</option>
                                }
                            }
                        </select>
                        <span asp-validation-for="BookshelfId"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="AuthorId" class="font-for-label">Выберите автора:</label><br />
                        <select style="width: 30%;" asp-for="AuthorId" id="selectedAuthor">
                            @if (ViewBag != null && ViewBag.Authors != null)
                            {
                                <option value=""></option>
                                var itemsArr = ViewBag.Authors as List<AuthorViewModel>;
                                foreach (var grItem in itemsArr)
                                {
                                    <option value="@grItem.Id">@grItem.Name</option>
                                }
                            }
                        </select>
                        <span asp-validation-for="AuthorId"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="GroupId" class="font-for-label">Выберите группу:</label><br />
                        <select style="width: 30%;" asp-for="GroupId" id="selectedGroup">
                            @if (ViewBag != null && ViewBag.Groups != null)
                            {
                                <option value=""></option>
                                var itemsArr = ViewBag.Groups as List<GroupViewModel>;
                                foreach (var grItem in itemsArr)
                                {
                                    <option value="@grItem.Id">@grItem.Name</option>
                                }
                            }
                        </select>
                        <span asp-validation-for="GroupId"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="TownId" class="font-for-label">Выберите город:</label><br />
                        <select style="width: 30%;" asp-for="TownId" id="selectedTown">
                            @if (ViewBag != null && ViewBag.Towns != null)
                            {
                                <option value=""></option>
                                var itemsArr = ViewBag.Towns as List<TownViewModel>;
                                foreach (var grItem in itemsArr)
                                {
                                    <option value="@grItem.Id">@grItem.Name</option>
                                }
                            }
                        </select>
                        <span asp-validation-for="TownId"></span>
                    </div>

                    <div class="form-group" style="text-align: right;">
                        <input type="submit" value="Сохранить" id="editOrdBtnOk" onclick="SaveBook()"
                               class="btn btn-success" data-dismiss="modal" area-hidden="true"
                               style="background-color: lightgreen; width: 100px;" />
                    </div>
                }
                else
                {
                    <h3>Книга не найдена</h3>
                }

            </dl>
        </div>
    </div>

</body>
