﻿@model AdminLTE.ViewModels.ImportBooksViewModel
@{
    Layout = null;
}

@if (Model != null)
{
    if (Model.Error != null)
    {
        <div>
            <p style="color: red;">@Model.Error</p>
        </div>
    }
    else if (Model.IsSuccess)
    {
        <div>
            <p style="color: green;">Импорт прошел успешно</p>
        </div>
    }
    else
    {
        if (Model.Warnings != null && Model.Warnings.Count > 0)
        {
            <h2>Не обработанные записи:</h2>
            <br />
            foreach (var w in Model.Warnings)
            {
                <div>
                    <p style="color: red;">@w</p>
                </div>
            }
        }
    }
}
