﻿@{ ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml"; }

<head>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/site.js" type="text/javascript"></script>

    <link href="~/lib/select2/select2.min.css" rel="stylesheet" />
    <script src="~/lib/select2/select2.min.js"></script>

    <script>
        function uploadFiles(inputId) {
            var input = document.getElementById(inputId);
            var files = input.files;
            var formData = new FormData();

            if (files.length > 0) {
                formData.append("files", files[0]);
            }
            else {
                alert("Выберите файл");
                return;
            }

            $.ajax(
                {
                    url: "/Import/UploadReaders",
                    data: formData,
                    processData: false,
                    contentType: false,
                    type: "POST",

                    success: function (result) {
                        $('#divImportReadersResult').html(result);
                        document.getElementById("btn_upload").disabled = true;
                        document.getElementById("file_upl").disabled = true;
                    },

                    failure: function (response) {
                        alert("failure" + response.responseText);
                    },

                    error: function (response) {
                        alert("error" + response.responseText);
                    }
                }
            );
        }
    </script>

</head>

<h2 style="color: green;">Импорт читателей</h2>

<div class="container form-group">
    <div class="row">
        <input id="file_upl" name="files" type="file" size="1" />

        <div style="margin-left: auto; margin-right: 0;">
            <button id="download_template">
                <a href="/Import/DownloadImportReadersTemplate"> Скачать шаблон</a>
            </button>
        </div>
    </div>
    <br />
    <div class="row">
        <input type="button" id="btn_upload" value="Загрузить" onclick="uploadFiles('file_upl');" />
    </div>
</div>

<div id="divImportReadersResult">
    @await Html.PartialAsync("_ImportReadersResult", null)
</div>
