﻿@model IEnumerable<AdminLTE.ViewModels.BookListViewModel>
@{
    Layout = null;
}

<head>
    <script type="text/javascript">
        function set_days_count(row_index, element) {
            var old_barcode = document.getElementById('cel_barcode_' + row_index).innerHTML.trim();
            var new_barcode = old_barcode + ":" + element.value.trim();
            _all_barcodes = _all_barcodes.replace(old_barcode, new_barcode);
            document.getElementById('txtAllBarcodes').value = _all_barcodes;
        }
    </script>
</head>

<div class="row">
    @if (ViewBag.ErrorMessage != null)
    {
        <div>
            <p style="color: red;">@ViewBag.ErrorMessage</p>
        </div>

        <script type="text/javascript">
            _all_barcodes = _all_barcodes.replace(_barcode, "");
            document.getElementById('txtAllBarcodes').value = _all_barcodes;
        </script>
    }

    <div class="col-sm-12">
        <table class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info" id="authors-grid">

            <thead>
                <tr role="row">
                    <th width="10%" tabindex="0" aria-controls="authors-grid" rowspan="1" style="text-align: center;">
                        Штрихкод
                    </th>

                    <th width="25%" tabindex="0" aria-controls="authors-grid" rowspan="1" style="text-align: center;">
                        Автор
                    </th>

                    <th width="30%" tabindex="0" aria-controls="authors-grid" rowspan="1" style="text-align: center;">
                        Название
                    </th>

                    <th width="15%" tabindex="0" aria-controls="authors-grid" rowspan="1" style="text-align: center;">
                        Сколько дней
                    </th>

                    <th tabindex="0" aria-controls="authors-grid" rowspan="1" style="text-align: center;">
                        Удалить
                    </th>
                </tr>
            </thead>

            <tbody>
                @if (Model != null)
                {
                    var books = Model.ToList();
                    int row_i = 0;
                    foreach (var book in books)
                    {
                        <tr role="row" class="odd">
                            <td align="center" id="cel_barcode_@row_i">@book.Barcode</td>
                            <td align="center">@book.BookModel.AuthorName</td>
                            <td align="center">@book.BookModel.Name</td>

                            <td align="center">
                                <input type="text" value="0" style="width: 100%; text-align: center;"
                                       onfocusout="set_days_count(@row_i, this); return false;" />
                            </td>

                            <td align="center">
                                @Html.ActionLink("Удалить", "Edit", "Lending", new { id = book.Id }, new { @class = "authorItemEdit" })
                            </td>
                        </tr>

                        row_i++;
                    }
                }
            </tbody>

        </table>
    </div>
</div>
