﻿@model IEnumerable<AdminLTE.ViewModels.BookListViewModel>
@{ Layout = null; }

<head>
    <script type="text/javascript">
        $(function () {
            $.ajaxSetup({ cache: false });
            $(".bookItemEdit").click(function (e) {
                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
            });
        })
    </script>
</head>


<div class="row">

    @if (ViewBag.ErrorMessage != null)
    {
        <div>
            <p style="color: red;">@ViewBag.ErrorMessage</p>
        </div>
    }

    <div class="col-sm-12">
        <table class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info" id="authors-grid">
            <thead>
                <tr role="row">
                    <th width="20%" tabindex="0" aria-controls="authors-grid" rowspan="1" style="text-align: center;">
                        Штрихкод
                    </th>
                    <th width="60%" tabindex="0" aria-controls="authors-grid" rowspan="1" style="text-align: center;">
                        Название книги
                    </th>
                    <th tabindex="0" aria-controls="authors-grid" rowspan="1" style="text-align: center;">
                        Редактировать
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    var books = Model.ToList();
                    foreach (var book in books)
                    {
                        <tr role="row" class="odd">
                            <td align="center">@book.Barcode</td>
                            <td align="center">@book.BookModel.FullName</td>
                            <td align="center">
                                @Html.ActionLink("Редактировать", "Edit", "BookList", new { id = book.Id }, new { @class = "bookItemEdit" })
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>


<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>
