﻿@model AdminLTE.ViewModels.BookListViewModel
@using AdminLTE.ViewModels
@{
    Layout = null;
}


<head>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
</head>


<body>

    <div class="modal-content" id="modalContentEdit" role="dialog">
        <div class="modal-header">

            @if (Model != null && Model.Id == 0)
            {
                <h6>Добавление новой книги</h6>
            }

            @if (Model != null && Model.Id > 0)
            {
                <h6>Редактирование книги</h6>
            }

            <button class="close" data-dismiss="modal" area-hidden="true">X</button>
        </div>
        <div class="modal-body">
            <dl class="dl-horizontal">

                @if (Model != null)
                {
                    <div class="form-group">
                        <input class="form-control" placeholder="HasChanged" id="HasChanged"
                               type="hidden" />
                    </div>

                    <div class="form-group">
                        <input class="form-control" placeholder="Id" asp-for="Id" value="@Model.Id"
                               hidden="hidden" id="txtBookId" />
                        <span asp-validation-for="Id"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Barcode" class="font-for-label"></label><br />
                        <input class="form-control" placeholder="Штрихкод" asp-for="Barcode"
                               autocomplete="off" id="txtBookBarcode"
                               value="@Model.Barcode" onchange="UpperFirstChar(this); return false;" />
                        <span asp-validation-for="Barcode"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="BookTypeId" class="font-for-label">Выберите книгу:</label><br />
                        <select style="width: 30%;" asp-for="BookTypeId" id="selectedBookType">
                            @if (ViewBag != null && ViewBag.BookTypes != null)
                            {
                                <option value=""></option>
                                var itemsArr = ViewBag.BookTypes as List<BookViewModel>;
                                foreach (var grItem in itemsArr)
                                {
                                    <option value="@grItem.Id">@grItem.FullName</option>
                                }
                            }
                        </select>
                        <span asp-validation-for="BookTypeId"></span>
                    </div>

                    <div class="form-group" style="text-align: right;">
                        <input type="submit" value="Сохранить" id="editOrdBtnOk" onclick="SaveBookList()"
                               class="btn btn-success" data-dismiss="modal" area-hidden="true"
                               style="background-color: lightgreen; width: 100px;" />
                    </div>
                }
                else
                {
                    <h3>Книга не найдена</h3>
                }

            </dl>
        </div>
    </div>

</body>
