﻿@model IEnumerable<AdminLTE.ViewModels.BookListViewModel>
@using AdminLTE.ViewModels
@{ ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml"; }

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/site.js" type="text/javascript"></script>

<head>
    <script type="text/javascript">
        $(function () {
            $.ajaxSetup({ cache: false });
            $(".bookItemAdd").click(function (e) {
                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
            });
        })
    </script>

    <script type="text/javascript">
        function AddNewBookByBarcode(event) {
            if (event.keyCode == 13) {
                var typeId = document.getElementById("selectedBookTypeInd")
                    .options[document.getElementById("selectedBookTypeInd").selectedIndex].value.trim();
                if (typeId == "") {
                    alert("Выберите тип книги");
                    return false;
                }

                var barcode = document.getElementById('txtBarcodeForAdd').value.trim();
                if (barcode == "") {
                    alert("Баркод не может быть пустым");
                    return false;
                }

                var data = {
                    Barcode: barcode,
                    BookTypeId: typeId
                };

                $.ajax({
                    type: 'POST',
                    url: '/BookList/AddNewBook',
                    data: data,

                    success: function (result) {
                        $('#divBooksContent').html(result);
                        document.getElementById('txtBarcodeForAdd').value = "";
                        return true;
                    },

                    failure: function (response) {
                        alert("failure" + response.responseText);
                    },

                    error: function (response) {
                        alert("error" + response.responseText);
                    }
                });

                return false;
            }
            else {
                return true;
            }
        }
    </script>
</head>

<div class="form-group-lg">
    <button type="button" style="border: none; background-color: transparent;">@Html.ActionLink("Новая книга", "Edit", "BookList", new { id = 0 }, new { @class = "bookItemAdd btn btn-sm btn-primary" })</button>
    
    <div class="form-group">
        <label for="selectedBookTypeInd" class="font-for-label">Выберите книгу:</label><br />
        <select style="width: 20%;" id="selectedBookTypeInd">
            @if (ViewBag != null && ViewBag.BookTypes != null)
            {
                <option value=""></option>
                var itemsArr = ViewBag.BookTypes as List<BookViewModel>;
                foreach (var grItem in itemsArr)
                {
                    <option value="@grItem.Id">@grItem.FullName</option>
                }
            }
        </select>

        <input type="text" id="txtBarcodeForAdd" style="margin-left: 1%; width: 15%;"
               onkeypress="return AddNewBookByBarcode(event);" />

        <label for="txtCountBarcodes" style="margin-left: 5%;">Введите кол-во штрихкодов:</label>
        <input type="text" id="txtCountBarcodes" style="width: 5%;" />
        <label for="chk_print_doubles" style="margin-left: 1%;">Дубли</label>
        <input type="checkbox" id="chk_print_doubles" />
        <button style="margin-left: 1%;" onclick="PrintBarcodes()">Печать</button>

    </div>

</div>

<div id="divBooksContent">
    @await Html.PartialAsync("_BookListContent", Model)
</div>

<div id="detailPrint">
</div>
