﻿@model AdminLTE.ViewModels.ReaderViewModel
@using AdminLTE.ViewModels
@{
    Layout = null;
}


<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>


<body>

    <div class="modal-content" id="modalContentEdit" role="dialog">
        <div class="modal-header">

            @if (Model != null && Model.Id == 0)
            {
                <h6>Добавление нового читателя</h6>
            }

            @if (Model != null && Model.Id > 0)
            {
                <h6>Редактирование читателя</h6>
            }

            <button class="close" data-dismiss="modal" area-hidden="true">X</button>
        </div>
        <div class="modal-body">
            <dl class="dl-horizontal">

                @if (Model != null)
                {
                    <div class="form-group">
                        <input class="form-control" placeholder="HasChanged" id="HasChanged"
                               type="hidden" />
                    </div>

                    <div class="form-group">
                        <input class="form-control" placeholder="Id" asp-for="Id" value="@Model.Id"
                               hidden="hidden" id="txtReaderId" />
                        <span asp-validation-for="Id"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="UniqueId" class="font-for-label"></label><br />
                        <input class="form-control" placeholder="Inn" asp-for="UniqueId"
                               autocomplete="off" id="txtInn" onchange="OnchangeValue()"
                               value="@Model.UniqueId" />
                        <span asp-validation-for="UniqueId"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Sname" class="font-for-label"></label><br />
                        <input class="form-control" placeholder="Фамилия" asp-for="Sname"
                               autocomplete="off" id="txtSname" onchange="OnchangeValue()"
                               value="@Model.Sname" onchange="UpperFirstChar(this); return false;" />
                        <span asp-validation-for="Sname"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Name" class="font-for-label"></label><br />
                        <input class="form-control" placeholder="Имя" asp-for="Name"
                               autocomplete="off" id="txtName" onchange="OnchangeValue()"
                               value="@Model.Name" onchange="UpperFirstChar(this); return false;" />
                        <span asp-validation-for="Name"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Pname" class="font-for-label"></label><br />
                        <input class="form-control" placeholder="Отчество" asp-for="Pname"
                               autocomplete="off" id="txtPname" onchange="OnchangeValue()"
                               value="@Model.Pname" onchange="UpperFirstChar(this); return false;" />
                        <span asp-validation-for="Pname"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="ClassId" class="font-for-label">Выберите класс:</label><br />
                        <select style="width: 30%;" asp-for="ClassId" id="selectedClass" onchange="OnchangeValue()">
                            @if (ViewBag != null && ViewBag.Classes != null)
                            {
                                <option value=""></option>
                                var itemsArr = ViewBag.Classes as List<ClassViewModel>;
                                foreach (var grItem in itemsArr)
                                {
                                    <option value="@grItem.Id">@grItem.Name</option>
                                }
                            }
                        </select>
                        <span asp-validation-for="ClassId"></span>
                    </div>

                    <div class="form-group" style="text-align: right;">
                        <input type="submit" value="Сохранить" id="editOrdBtnOk" onclick="SaveReader()"
                               class="btn btn-success" data-dismiss="modal" area-hidden="true"
                               style="background-color: lightgreen; width: 100px;" />
                    </div>
                }
                else
                {
                    <h3>Читатель не найден</h3>
                }

            </dl>
        </div>
    </div>

</body>
