﻿@model IEnumerable<AdminLTE.ViewModels.ReaderViewModel>
@{ Layout = null; }


<head>
    <script type="text/javascript">
        $(function () {
            $.ajaxSetup({ cache: false });
            $(".readerItemAdd").click(function (e) {
                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
            });
        })
    </script>
</head>

@if (ViewBag.ErrorMessage != null)
{
    <div>
        <p style="color: red;">@ViewBag.ErrorMessage</p>
    </div>
}

<div class="row">
    <div class="col-sm-12">
        <table class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info" id="authors-grid">
            <thead>
                <tr role="row">
                    <th width="10%" tabindex="0" aria-controls="authors-grid" rowspan="1" style="text-align: center;">
                        UniqueId
                    </th>

                    <th width="20%" tabindex="0" aria-controls="authors-grid" rowspan="1" style="text-align: center;">
                        Фамилия
                    </th>

                    <th width="20%" tabindex="0" aria-controls="authors-grid" rowspan="1" style="text-align: center;">
                        Имя
                    </th>

                    <th width="20%" tabindex="0" aria-controls="authors-grid" rowspan="1" style="text-align: center;">
                        Отчество
                    </th>

                    <th width="10%" tabindex="0" aria-controls="authors-grid" rowspan="1" style="text-align: center;">
                        Класс
                    </th>

                    <th tabindex="0" aria-controls="authors-grid" rowspan="1" style="text-align: center;">
                        Редактировать
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    var classes = Model.ToList();
                    foreach (var cl in classes)
                    {
                        <tr role="row" class="odd">
                            <td align="center">@cl.UniqueId</td>
                            <td align="center">@cl.Sname</td>
                            <td align="center">@cl.Name</td>
                            <td align="center">@cl.Pname</td>
                            <td align="center">@cl.ClassName</td>

                            <td align="center">
                                @Html.ActionLink("Редактировать", "Edit", "Reader", new { id = cl.Id }, new { @class = "readerItemAdd" })
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>


<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>
