﻿@model IEnumerable<AdminLTE.ViewModels.ReaderViewModel>
@{ ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml"; }

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/site.js" type="text/javascript"></script>

<head>
    <script type="text/javascript">
    $(function () {
            $.ajaxSetup({ cache: false });
            $(".readerItemAdd").click(function (e) {
                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
            });
        })
    </script>

    <script type="text/javascript">
        function SearchReaders(element) {
            if (event.keyCode == 13) {
                var text = element.value;
                var data = {
                    filter_text: text
                };

                $.ajax({
                    type: 'POST',
                    url: '/Reader/Search',
                    data: data,

                    success: function (result) {
                        $('#divReaderContent').html(result);
                        return true;
                    },

                    failure: function (response) {
                        alert("failure" + response.responseText);
                    },

                    error: function (response) {
                        alert("error" + response.responseText);
                    }
                });
            }
        }
    </script>
</head>

<body>

    <div class="form-group-lg">

        <button type="button" style="border: none; background-color: transparent;">@Html.ActionLink("Новый читатель", "Edit", "Reader", new { id = 0 }, new { @class = "readerItemAdd btn btn-sm btn-primary" })</button>

        <input type="text" id="txt_search_by_fio_or_inn" placeholder="Поиск"
               style="margin-left: 3%; width: 15%;" onkeyup="SearchReaders(this); return false;" />
    </div>

    <div id="divReaderContent">
        @await Html.PartialAsync("_ReaderContent", Model)
    </div>

</body>
