﻿@model IEnumerable<AdminLTE.ViewModels.TownViewModel>
@{ ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml"; }

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/site.js" type="text/javascript"></script>

<head>
    <script type="text/javascript">
        $(function () {
            $.ajaxSetup({ cache: false });
            $(".townItemAdd").click(function (e) {
                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
            });
        })
    </script>
</head>

<div class="form-group-lg">
    <button type="button" style="border: none; background-color: transparent;">@Html.ActionLink("Новый город", "Edit", "Towns", new { id = 0 }, new { @class = "townItemAdd btn btn-sm btn-primary" })</button>
</div>

<div id="divTownsContent">
    @await Html.PartialAsync("_TownsContent", Model)
</div>
