﻿@using static AdminLTE.MVC.Helpers.NavigationIndicatorHelper;

<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a href="~/Home" class="brand-link">
        <img src="~/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">Э-Китепкана</span>
    </a>
    <div class="sidebar">
        @if (User.Identity.IsAuthenticated)
        {
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="info">
                    <a href="#" class="d-block">Привет, @User.Identity.Name </a>
                </div>
            </div>
        }
        else
        {
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="info">
                    <a href="#" class="d-block">Hi, Visitor</a>
                </div>
            </div>
        }
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item ">
                        <a asp-controller="BookList" asp-action="Index" class="nav-link @Url.MakeActiveClass("BookList", "Index")">
                            <i class="nav-icon fas fa-book"></i>
                            <p>
                                Список книг
                            </p>
                        </a>
                    </li>

                    <li class="nav-item ">
                        <a asp-controller="Lending" asp-action="Index" class="nav-link @Url.MakeActiveClass("Lending", "Index")">
                            <i class="nav-icon fas fa-angle-double-up"></i>
                            <p>
                                Выдача книг
                            </p>
                        </a>
                    </li>

                    <li class="nav-item ">
                        <a asp-controller="ReturnBook" asp-action="Index" class="nav-link @Url.MakeActiveClass("ReturnBook", "Index")">
                            <i class="nav-icon fas fa-angle-double-down"></i>
                            <p>
                                Возврат книг
                            </p>
                        </a>
                    </li>

                    <li class="nav-item ">
                        <a asp-controller="Register" asp-action="Index" class="nav-link @Url.MakeActiveClass("Register", "Index")">
                            <i class="nav-icon fas fa-list"></i>
                            <p>
                                Реестр
                            </p>
                        </a>
                    </li>
                }
            </ul>
        </nav>
    </div>
</aside>
