﻿<link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
<link rel="stylesheet" href="~/css/adminlte.min.css">
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

<style type="text/css">

    table {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        table-layout: fixed;
    }

    td {
        border: 1px solid black;
        text-align: center;
        height: 10px;
    }

</style>
