﻿@using Microsoft.AspNetCore.Identity
@using Data.Entities
@inject UserManager<User> userManager

<!-- Navbar -->
<nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        @if (User.Identity.IsAuthenticated)
        {
            <li class="nav-item d-none d-sm-inline-block">
                <form method="post" class="form-inline" asp-area="Identity" asp-page="/Account/Login">
                    <button type="submit" class="nav-link btn btn-link text-dark">Выход</button>
                    <input type="text" name="isLogout" value="1" hidden="hidden" />
                </form>
            </li>
        }
        else
        {
            <li class="nav-item d-none d-sm-inline-block">
                <a asp-area="Identity" asp-page="/Account/Login" class="nav-link">Вход</a>
            </li>

            @if (userManager.Users.Any() == false)
            {
                <li class="nav-item d-none d-sm-inline-block">
                    <a asp-area="Identity" asp-page="/Account/Register" class="nav-link">Регистрация</a>
                </li>
            }
        }

    </ul>

    <!-- Right navbar links -->
    @if (User.Identity.IsAuthenticated)
    {
        <ul class="navbar-nav ml-auto">

            <li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" href="#">
                    <h3 style="">Справочники</h3>
                </a>

                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                    <span class="dropdown-header">Справочники</span>

                    <div class="dropdown-divider"></div>
                    <a href="/Author/Index" class="dropdown-item">
                        <i class="fas fa-user mr-2"></i> Авторы
                    </a>

                    <div class="dropdown-divider"></div>
                    <a href="/Group/Index" class="dropdown-item">
                        <i class="fas fa-book-open mr-2"></i> Группы книг
                    </a>

                    <div class="dropdown-divider"></div>
                    <a href="/Bookshelf/Index" class="dropdown-item">
                        <i class="fas fa-warehouse mr-2"></i> Стиллажи
                    </a>

                    <div class="dropdown-divider"></div>
                    <a href="/Book/Index" class="dropdown-item">
                        <i class="fas fa-book mr-2"></i> Книги
                    </a>

                    <div class="dropdown-divider"></div>
                    <a href="/Class/Index" class="dropdown-item">
                        <i class="fas fa-book mr-2"></i> Классы
                    </a>

                    <div class="dropdown-divider"></div>
                    <a href="/Reader/Index" class="dropdown-item">
                        <i class="fas fa-book-reader mr-2"></i> Читатели
                    </a>

                    <div class="dropdown-divider"></div>
                    <a href="/Towns/Index" class="dropdown-item">
                        <i class="fas fa-book-reader mr-2"></i> Города
                    </a>

                </div>
            </li>


            <li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" href="#">
                    <h3 style="">Утилиты</h3>
                </a>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                    <span class="dropdown-header">Утилиты</span>

                    <div class="dropdown-divider"></div>
                    <a href="/Import/ImportReaders" class="dropdown-item">
                        <i class="fas fa-user mr-2"></i> Импорт читателей
                    </a>

                    <div class="dropdown-divider"></div>
                    <a href="/Import/ImportBooks" class="dropdown-item">
                        <i class="fas fa-book-open mr-2"></i> Импорт книг
                    </a>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
                    <i class="fas fa-th-large"></i>
                </a>
            </li>
        </ul>
    }

</nav>
<!-- /.navbar -->
