﻿@model IEnumerable<AdminLTE.ViewModels.BookshelfViewModel>
@{ ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml"; }

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/site.js" type="text/javascript"></script>

<head>
    <script type="text/javascript">
        $(function () {
            $.ajaxSetup({ cache: false });
            $(".bookshelfItemAdd").click(function (e) {
                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
            });
        })
    </script>
</head>

<body>

    <div class="form-group-lg">

        <button type="button" style="border: none; background-color: transparent;">@Html.ActionLink("Новый стиллаж", "Edit", "Bookshelf", new { id = 0 }, new { @class = "bookshelfItemAdd btn btn-sm btn-primary" })</button>

    </div>

    <div id="divBookshelfContent">
        @await Html.PartialAsync("_BookshelContent", Model)
    </div>

</body>
