﻿@model IEnumerable<AdminLTE.ViewModels.AuthorViewModel>
@{ Layout = null; }

<head>
    <script type="text/javascript">
        $(function () {
            $.ajaxSetup({ cache: false });
            $(".authorItemEdit").click(function (e) {
                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
            });
        })
    </script>
</head>

<div class="row">
    <div class="col-sm-12">
        <table class="table table-bordered table-hover dataTable" role="grid" id="authors-grid">
            <thead>
                <tr role="row">
                    <th width="60%" tabindex="0" aria-controls="authors-grid" rowspan="1" style="text-align: center;">
                        Автор
                    </th>
                    <th tabindex="0" aria-controls="authors-grid" rowspan="1" style="text-align: center;">
                        Редактировать
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    var authors = Model.ToList();
                    foreach (var author in authors)
                    {
                        <tr role="row">
                            <td align="center">@author.Name</td>
                            <td align="center">
                                @Html.ActionLink("Редактировать", "Edit", "Author", new { id = author.Id }, new { @class = "authorItemEdit" })
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>
