﻿@model AdminLTE.ViewModels.AuthorViewModel
@{
    Layout = null;
}


<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>


<div class="modal-content" id="modalContentEdit" role="dialog">
    <div class="modal-header">

        @if (Model != null && Model.Id == 0)
        {
            <h6>Добавление нового автора</h6>
        }

        @if (Model != null && Model.Id > 0)
        {
            <h6>Редактирование автора</h6>
        }

        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
    </div>
    <div class="modal-body">
        <dl class="dl-horizontal">

            @if (Model != null)
            {
                <div class="form-group">
                    <input class="form-control" placeholder="HasChanged" id="HasChanged"
                           type="hidden" />
                </div>

                <div class="form-group">
                    <input class="form-control" placeholder="Id" asp-for="Id" value="@Model.Id"
                           hidden="hidden" id="txtAuthorId" />
                    <span asp-validation-for="Id"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Name" class="font-for-label"></label><br />
                    <input class="form-control" placeholder="Имя автора" asp-for="Name"
                           autocomplete="off" id="txtName"
                           value="@Model.Name" onchange="UpperFirstChar(this); return false;" />
                    <span asp-validation-for="Name"></span>
                </div>

                <div class="form-group" style="text-align: right;">
                    <input type="submit" value="Сохранить" id="editOrdBtnOk" onclick="SaveAuthor()"
                           class="btn btn-success" data-dismiss="modal" area-hidden="true"
                           style="background-color: lightgreen; width: 100px;" />
                </div>
            }
            else
            {
                <h3>Автор не найден</h3>
            }

        </dl>
    </div>
</div>
