﻿@model IEnumerable<AdminLTE.ViewModels.GroupViewModel>
@{ Layout = null; }

    <head>
        <script type="text/javascript">
        $(function () {
            $.ajaxSetup({ cache: false });
            $(".groupItemEdit").click(function (e) {
                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
            });
        })
        </script>
    </head>



    <div class="row">
        <div class="col-sm-12">
            <table class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info" id="authors-grid">
                <thead>
                    <tr role="row">
                        <th width="60%" tabindex="0" aria-controls="authors-grid" rowspan="1" style="text-align: center;">
                            Группа
                        </th>
                        <th tabindex="0" aria-controls="authors-grid" rowspan="1" style="text-align: center;">
                            Редактировать
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        var groups = Model.ToList();
                        foreach (var group in groups)
                        {
                            <tr role="row" class="odd">
                                <td align="center">@group.Name</td>
                                <td align="center">
                                    @Html.ActionLink("Редактировать", "Edit", "Group", new { id = group.Id }, new { @class = "groupItemEdit" })
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>


    <div id="modDialog" class="modal fade">
        <div id="dialogContent" class="modal-dialog"></div>
    </div>