﻿@model IEnumerable<AdminLTE.ViewModels.RegisterViewModel>
@{
    Layout = null;
}

<div class="row">

    @if (ViewBag.ErrorMessage != null)
    {
        <div>
            <p style="color: red;">@ViewBag.ErrorMessage</p>
        </div>
    }

    <div class="col-sm-12">
        <table class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info" id="authors-grid">
            <thead>
                <tr role="row">
                    <th width="20%" tabindex="0" aria-controls="authors-grid" rowspan="1" style="text-align: center;">
                        Читатель
                    </th>

                    <th width="20%" tabindex="0" aria-controls="authors-grid" rowspan="1" style="text-align: center;">
                        Книга
                    </th>

                    <th width="15%" tabindex="0" aria-controls="authors-grid" rowspan="1" style="text-align: center;">
                        Штрихкод
                    </th>

                    <th width="15%" tabindex="0" aria-controls="authors-grid" rowspan="1" style="text-align: center;">
                        Дата выдачи
                    </th>

                    <th width="10%" tabindex="0" aria-controls="authors-grid" rowspan="1" style="text-align: center;">
                        Осталось дней
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    var items = Model.ToList();
                    foreach (var item in items)
                    {
                        <tr role="row" class="odd">
                            <td align="center">@item.ReaderName</td>
                            <td align="center">@item.BootTypeName</td>
                            <td align="center">@item.Barcode</td>
                            <td align="center">@item.DateIssued</td>
                            
                            @if (@item.DaysLeft < 0)
                            {
                                <td align="center" style="color: green;">@(item.DaysLeft * -1)</td>
                            }
                            else if (@item.DaysLeft == 0)
                            {
                                <td align="center"></td>
                            }
                            else
                            {
                                <td align="center" style="color: red;">@item.DaysLeft</td>
                            }
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
