﻿@model AdminLTE.ViewModels.RegisterViewModel
@using AdminLTE.ViewModels
@{ ViewData["Title"] = "Реестр";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml"; }

<head>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/site.js" type="text/javascript"></script>

    <link href="~/lib/select2/select2.min.css" rel="stylesheet" />
    <script src="~/lib/select2/select2.min.js"></script>

    <style type="text/css">
        .select2-container .select2-selection--single {
            height: 34px !important;
        }

        .select2-container--default .select2-selection--single {
            border: 1px solid #ccc !important;
            border-radius: 0px !important;
        }
    </style>

</head>


<div class="container form-group">
    <div class="row" style="display: flex;">
        <label for="selectReader">Читатель: </label>
        <select class="form-control select2" style="width: 20%;" asp-for="ReaderId" id="selectReader">
            @if (ViewBag != null && ViewBag.Readers != null)
            {
                <option></option>
                var itemsArr = ViewBag.Readers as List<ReaderViewModel>;
                foreach (var grItem in itemsArr)
                {
                    string val = @grItem.Sname + " " + @grItem.Name + " " + @grItem.Pname + ": " + @grItem.UniqueId;
                    <option value="@grItem.Id">@val</option>
                }
            }
        </select>
        <span asp-validation-for="ReaderId"></span>

        <input type="text" id="txtBarcode" style="width: 10%; margin-left: 3%;" placeholder="Штрихкод" />

        <label style="margin-left: 2%;">
            Просроченные
            <input type="checkbox" id="chkOnlyOverdue">
            <span class="checkmark"></span>
        </label>

    </div>

    <br />

    <div class="row" style="display: flex;">

        <label for="dt_from">Дата от: </label>
        <input type="date" id="dt_from" />

        <label for="dt_to">Дата до: </label>
        <input type="date" id="dt_to" />

        <input type="button" style="margin-left: 10%; height: 80%; min-width: 8%;" onclick="GetRegisterContent()" value="Поиск" />
    </div>
    
</div>

<div id="divRegisterContent">
    @await Html.PartialAsync("_RegisterContent")
</div>

<script type="text/javascript">
    $('.select2').select2();
</script>
