﻿@model IEnumerable<AdminLTE.ViewModels.BookListViewModel>
@{
    Layout = null;
}

<div class="row">
    @if (ViewBag.ErrorMessage != null)
    {
        <div>
            <p style="color: red;">@ViewBag.ErrorMessage</p>
        </div>

        <script type="text/javascript">
            _all_barcodes = _all_barcodes.replace(_barcode, "");
            document.getElementById('txtAllBarcodes').value = _all_barcodes;
        </script>
    }

    <div class="col-sm-12">
        <table class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info" id="authors-grid">
            <thead>
                <tr role="row">
                    <th width="20%" tabindex="0" aria-controls="authors-grid" rowspan="1" style="text-align: center;">
                        Штрихкод
                    </th>

                    <th width="30%" tabindex="0" aria-controls="authors-grid" rowspan="1" style="text-align: center;">
                        Автор
                    </th>

                    <th width="30%" tabindex="0" aria-controls="authors-grid" rowspan="1" style="text-align: center;">
                        Название
                    </th>

                    <th tabindex="0" aria-controls="authors-grid" rowspan="1" style="text-align: center;">
                        Удалить
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    var books = Model.ToList();
                    foreach (var book in books)
                    {
                        <tr role="row" class="odd">
                            <td align="center">@book.Barcode</td>
                            <td align="center">@book.BookModel.AuthorName</td>
                            <td align="center">@book.BookModel.Name</td>

                            <td align="center">
                                @Html.ActionLink("Удалить", "Edit", "ReturnBook", new { id = book.Id }, new { @class = "authorItemEdit" })
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
