﻿@model AdminLTE.ViewModels.ReturnBookViewModel
@using AdminLTE.ViewModels
@{ ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml"; }

<head>

    <script src="~/lib/bootstrap/dist/css/bootstrap.min.css"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/site.js" type="text/javascript"></script>

    <link href="~/lib/select2/select2.min.css" rel="stylesheet" />
    <script src="~/lib/select2/select2.min.js"></script>

    <style type="text/css">
        .select2-container .select2-selection--single {
            height: 34px !important;
        }

        .select2-container--default .select2-selection--single {
            border: 1px solid #ccc !important;
            border-radius: 0px !important;
        }
    </style>

    <script type="text/javascript">

        var _all_barcodes = "";
        var _barcode = "";

        function txtBarcodeKeyDown(event) {
            if (event.keyCode == 13) {
                var docBarcode = document.getElementById('txtBarcode');
                _barcode = docBarcode.value;
                _all_barcodes += _barcode + ";";
                document.getElementById('txtAllBarcodes').value = _all_barcodes;
                GetReturnBookPartial(_all_barcodes);
                docBarcode.value = "";
                return false;
            }
            else {
                return true;
            }
        }
    </script>

</head>

<div class="container">

    <h3 style="color: green; text-align-last: center;">Возврат книг</h3>

    @if (ViewBag.ErrorMessage != null)
    {
        <div>
            <p style="color: red;">@ViewBag.ErrorMessage</p>
        </div>
    }

    @if (ViewBag.ResultMessage != null)
    {
        <div>
            <h2 style="color: indigo;">@ViewBag.ResultMessage</h2>
        </div>
    }

    <form method="post">
        <div class="form-group">
            <input asp-for="Barcodes" id="txtAllBarcodes" hidden="hidden" />
            <span asp-validation-for="Barcodes"></span>
        </div>

        <div class="container form-group">
            <label asp-for="ReaderId" class="font-for-label">Выберите читателя:</label><br />
            <div class="row">
                <select class="form-control select2" style="width: 40%;" asp-for="ReaderId" id="selectReader">
                    @if (ViewBag != null && ViewBag.Readers != null)
                    {
                        <option></option>
                        var itemsArr = ViewBag.Readers as List<ReaderViewModel>;
                        foreach (var grItem in itemsArr)
                        {
                            string val = @grItem.Sname + " " + @grItem.Name + " " + @grItem.Pname + ". INN: " + @grItem.UniqueId;
                            <option value="@grItem.Id">@val</option>
                        }
                    }
                </select>
                <span asp-validation-for="ReaderId"></span>

                <label style="margin-left: 5%;">Штрихкод:</label>
                <input style="margin-left: 1%;" type="text" id="txtBarcode"
                        onkeypress="return txtBarcodeKeyDown(event)" autocomplete="off" />
            </div>
        </div>

        <div class="form-group">
            <input type="submit" value="Сохранить" />
        </div>

        <div id="divLeadingContent">
            @await Html.PartialAsync("_ReturnBookContent", null)
        </div>

        <script type="text/javascript">
            $('.select2').select2();
        </script>
    </form>
</div>
